*{
  font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}
body{
  margin:0;
  text-align: center;
  background-image: url("https://image.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg");
  background-size: auto;
}

button {
  margin:15px;
}

.countryInfo {
  position: relative;
  text-align: center;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right:auto;
}
.countryInfo img {
  width: 100%;
}

form input {
  border-radius: 30px;
  height: 40px;
  margin:20px;
  width: 180px;
  padding: 12px 20px
}

button {
  cursor: pointer;
}


section {
  margin: 10px;
}